﻿@{
    //var bookList = ViewData["booksList"] as List<CourseProject.Models.BookSet>;
}
@using CourseProject.ViewModels.Book
@model IndexViewModel
@section Styles{
    <link href="~/lib/dataTable/dataTable.css" />
}
@await Component.InvokeAsync("User",new { username="Ahmad",location=1 })

<vc:user location="1" username="Ahmad">
</vc:user>
<a href="@Url.Action("Index","Home",new { title="Book page"})" class="btn btn-primary">Home Page</a>
<a asp-controller="Home" asp-action="Index" asp-route-title="Book page" class="btn btn-primary">Home Page</a>
<a href="/Home/Index" class="btn btn-primary">Home Page</a>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Publish date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in Model.Books)
                    {
                        <tr>
                            <td>@book.Id</td>
                            <td>@book.Name</td>
                            <td>@book.PublishDate.ToString("yyyy/MM/dd")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/lib/dataTable/dataTable.js"></script>
}
