﻿@using CourseProject.ViewModels.Product
@model ProductCardViewModel
@{ 
    var priceSpanClass = string.Empty;
    if (Model.Price < 200)
    {
        priceSpanClass = "text-success";

    }
}
<div class="card col-md-4">
    <img src="@Model.ImageUrl" class="card-img-top" width="100" height="100">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.OfferedDate.ToString("yyyy/MM/dd") | <span class="@priceSpanClass">@Model.Price $</span>  </p>
        <a asp-controller="Product" asp-action="View" asp-route-id="@Model.Id"
           class="btn btn-primary">Go somewhere</a>
    </div>
</div>