﻿@using CourseProject.ViewModels.Product
@model IndexViewModel
<h2>Index</h2>
<div class="row">
    @foreach (var product in Model.ProductCardsData)
    {
        @await Html.PartialAsync(ViewsPaths._ProductCard, product)
        @*<partial name="@ViewsPaths._ProductCard" for="product"/>*@
    }
    </div>