﻿@using CourseProject.ViewModels.Product
@model SearchViewModel
<h2>Search</h2>
<div class="row">
    @foreach (var product in Model.ProductCardsData)
    {
        @await Html.PartialAsync(ViewsPaths._ProductCard, product)
    }
</div>